<!DOCTYPE html>
<html ng-app="triggerApp">
  <head>
    <title>Triggers</title>
    <link rel='stylesheet' href='/styles/base.css' />
    <link rel='stylesheet' href='/styles/triggers.css' />
    <script src='/script/lib/angular.min.js'></script>
    <script src='/script/controllers/trigger-controller.js'></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body ng-controller="TriggerController">
    <h1>Triggers</h1>
    <p>
      This page fakes events which would normally be caused by the user
      pressing one of the momentary switches on the vending machine.
    </p>
    <% if (fakeAuthnWarning) { %>
      <div style="background:#dbb;">
        <h2 style="color: #a00;">WARNING: The triggers page was not provided an instance of rfidvendo as its event source</h2>
        <p>check the TriggersPage constructor invocation in app.js
      </div>
    <% } %>
    <div>
      <form ng-submit="rfidScan(rfidCode)">
        <!-- Hidden submit button to make enter press work -->
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" />
        <input type="text" ng-model="rfidCode" /><button type="button" ng-click="rfidScan(rfidCode)">Scan</button>
      </form>
    </div>
    <ul class="switches">
      <li ng-repeat="sw in switches">
        <button type="button" class="switch" ng-click="triggerClick(sw)">{{ sw.label }}</button>
      </li>
    </ul>
    <ul class="results">
      <li ng-repeat="result in results">
        {{result.text}}
      </li>
    </div>
  </body>
</html>