body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ddd;
}

a {
  color: #00B7FF;
}

fieldset {
  height: 292px;
  
  margin: 2px;

  padding: 16px 6px 6px 6px;
}

.debug {
  margin-bottom: 20px;
}

.main {
  position: relative;

  width: 240px;
  height: 320px;
  background: #fff;
}

.content {
  position: absolute;

  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.fullwidth {
  position: absolute;
  width: 220px;
  height: 50px;

  text-align: center;
  line-height: 50px;
}

.cancel {
  bottom: 0px;
  background: #fcc;
}

.confirm {
  bottom: 50px;
  background: #cfc;
}